-i https://pypi.org/simple
absl-py==1.4.0 ; python_version >= '3.6'
anyio==3.7.1 ; python_version >= '3.7'
arrow==1.2.3
astunparse==1.6.3
attrs==23.1.0 ; python_version >= '3.7'
beautifulsoup4==4.12.2 ; python_full_version >= '3.6.0'
cachetools==5.2.1
certifi==2023.7.22 ; python_version >= '3.6'
cffi==1.15.1 ; platform_python_implementation == 'CPython' and sys_platform == 'win32'
charset-normalizer==3.2.0 ; python_full_version >= '3.7.0'
click==8.1.6
colorama==0.4.6 ; platform_system == 'Windows'
contourpy==1.1.0 ; python_version >= '3.8'
cycler==0.11.0 ; python_version >= '3.6'
dnspython==2.4.0 ; python_version >= '3.8' and python_version < '4.0'
exceptiongroup==1.1.2 ; python_version < '3.11'
filelock==3.12.2 ; python_version >= '3.7'
fire==0.5.0
flatbuffers==23.5.26
fonttools==4.41.1 ; python_version >= '3.8'
gast==0.4.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
gdown==4.7.1
gevent==23.7.0 ; python_version >= '3.8'
google-api-core==2.11.1 ; python_version >= '3.7'
google-api-python-client==2.95.0
google-auth==2.22.0 ; python_version >= '3.6'
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
google-pasta==0.2.0
googleapis-common-protos==1.59.1 ; python_version >= '3.7'
greenlet==2.0.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
grequests==0.6.0
grpcio==1.56.2 ; python_version >= '3.7'
h11==0.14.0 ; python_version >= '3.7'
h5py==3.9.0 ; python_version >= '3.8'
hachoir==3.2.0
httpcore==0.17.3 ; python_version >= '3.8'
httplib2==0.22.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
idna==3.4 ; python_version >= '3.5'
imageio==2.31.1 ; python_version >= '3.7'
jsonschema==4.18.4 ; python_version >= '3.8'
jsonschema-specifications==2023.7.1 ; python_version >= '3.8'
keras==2.13.1 ; python_version >= '3.8'
kiwisolver==1.4.4 ; python_version >= '3.7'
lazy-loader==0.3 ; python_version >= '3.7'
libclang==16.0.6
markdown==3.4.4 ; python_version >= '3.7'
markupsafe==2.1.3 ; python_version >= '3.7'
matplotlib==3.7.2 ; python_version >= '3.8'
networkx==3.1 ; python_version >= '3.8'
notifiers==1.2.1
numpy==1.24.3 ; python_version >= '3.8'
oauthlib==3.2.2 ; python_version >= '3.6'
opencv-python==4.8.0.74 ; python_version >= '3.6'
opennsfw2==0.10.2
opt-einsum==3.3.0 ; python_version >= '3.5'
packaging==23.1 ; python_version >= '3.7'
pandas==1.5.3
pillow==10.0.0 ; python_version >= '3.8'
playwright==1.29.1
protobuf==4.23.4 ; python_version >= '3.7'
pyaes==1.6.1
pyasn1==0.5.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pyasn1-modules==0.3.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pycparser==2.21
pyee==9.0.4
pyjwt==2.8.0
pymongo==4.4.1
pyparsing==3.0.9 ; python_version >= '3.1'
pysocks==1.7.1
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2023.3
pywavelets==1.4.1 ; python_version >= '3.8'
referencing==0.30.0 ; python_version >= '3.8'
requests==2.31.0
requests-oauthlib==1.3.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
rfc3987==1.3.8
rpds-py==0.9.2 ; python_version >= '3.8'
rsa==4.9 ; python_version >= '3.6' and python_version < '4'
scikit-image==0.21.0 ; python_version >= '3.8'
scipy==1.11.1 ; python_version < '3.13' and python_version >= '3.9'
setuptools==68.0.0 ; python_version >= '3.7'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sniffio==1.3.0 ; python_version >= '3.7'
soupsieve==2.4.1 ; python_version >= '3.7'
telethon==1.27.0
tenacity==8.2.2
tensorboard==2.13.0 ; python_version >= '3.8'
tensorboard-data-server==0.7.1 ; python_version >= '3.7'
tensorflow==2.13.0 ; python_version >= '3.8'
tensorflow-estimator==2.13.0 ; python_version >= '3.7'
tensorflow-intel==2.13.0 ; platform_system == 'Windows'
tensorflow-io-gcs-filesystem==0.31.0 ; platform_machine != 'arm64' or platform_system != 'Darwin'
termcolor==2.3.0 ; python_version >= '3.7'
tifffile==2023.7.18 ; python_version >= '3.9'
toml==0.10.2
tqdm==4.65.0
typing-extensions==4.5.0 ; python_version >= '3.7'
uritemplate==4.1.1 ; python_version >= '3.6'
urllib3==1.26.16 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
watchdog==2.2.1
websockets==10.4
werkzeug==2.3.6 ; python_version >= '3.8'
wheel==0.41.0 ; python_version >= '3.7'
wrapt==1.15.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
zope.event==5.0 ; python_version >= '3.7'
zope.interface==6.0 ; python_version >= '3.7'
